*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 1366px;
}

html {
  font-size: 62.5%; /* 1rem = 10px*/
  scroll-behavior: smooth;
}
