@font-face {
  font-family: 'Galien';
  src: url('../../src/assets/fonts/Galien-Regular.woff2') format('woff2'),
    url('../../src/assets/fonts/Galien-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../src/assets/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../../src/assets/fonts/Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
