/* breakpoints:
- phone-small: 320px
- phone-large: 768px
- laptop: 1200px
- desktop: 1315px
*/
@font-face {
  font-family: "Galien";
  src: url("../../src/assets/fonts/Galien-Regular.woff2") format("woff2"), url("../../src/assets/fonts/Galien-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../src/assets/fonts/Gilroy-Regular.woff2") format("woff2"), url("../../src/assets/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Galien";
  src: url("../../src/assets/fonts/Galien-Regular.woff2") format("woff2"), url("../../src/assets/fonts/Galien-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../src/assets/fonts/Gilroy-Regular.woff2") format("woff2"), url("../../src/assets/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.btn1:link, .btn1:visited {
  font-family: "Gilroy";
  font-weight: 400;
  letter-spacing: 0.06em;
  background-color: #5a98d0;
  color: #fff;
  font-size: 1.7rem;
  text-decoration: none;
  border: 2px solid #5a98d0;
  border-radius: 1rem;
  display: inline-block;
  padding: 1.6rem 4rem;
  line-height: 2.2rem;
  transition: all 0.3s;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
}
@media (max-width: 46.5625em) {
  .btn1:link, .btn1:visited {
    padding: 1.2rem 2rem;
  }
}
.btn1:hover {
  background-color: #316099;
  border: 2px solid #316099;
  transform: translateY(-3px);
  box-shadow: 10px 15px 27px rgba(27, 76, 133, 0.2);
}

.btn2:link, .btn2:visited {
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: #5a98d0;
  color: #fff;
  text-decoration: none;
  border: 2px solid #5a98d0;
  border-radius: 1rem;
  display: inline-block;
  padding: 1.3rem 7.2rem;
  transition: all 0.3s;
}
.btn2:hover {
  background-color: #1f3f68;
  border: 2px solid #1f3f68;
}

.link {
  transition: all 0.3s;
}
.link:link, .link:visited {
  text-decoration: none;
}
.link:hover {
  box-shadow: 5px 7px 15px rgba(27, 76, 133, 0.2);
  border-radius: 5px;
}

.to-top__button {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  z-index: 2;
  border: none;
  outline: none;
  background-color: #356ead;
  color: #fff;
  cursor: pointer;
  padding: 1.5rem 2rem;
  border-radius: 24px;
  font-size: 1.6rem;
  transition: all 0.2s;
}
.to-top__button:hover {
  background-color: #1f3f68;
}

.popup {
  position: fixed;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
  transition: all 0.2s;
  animation: showIn 0.3s;
  z-index: 11;
}
.popup__wrapper {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.popup__text-sending {
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
  color: #1f3f68;
}
.popup__text-success {
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
  color: #1f3f68;
}
.popup__ok {
  width: 50%;
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
  border-radius: 5px;
  border-style: none;
  color: #fff;
  background-color: #5a98d0;
  transition: all 0.2s;
}
.popup__ok:hover {
  background-color: #1f3f68;
  cursor: pointer;
}

.hidden {
  display: none;
}

@keyframes showIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
.submit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.8px);
  z-index: 9;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 1366px;
}

html {
  font-size: 62.5%; /* 1rem = 10px*/
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Galien";
  src: url("../../src/assets/fonts/Galien-Regular.woff2") format("woff2"), url("../../src/assets/fonts/Galien-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../src/assets/fonts/Gilroy-Regular.woff2") format("woff2"), url("../../src/assets/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.header {
  padding: 4.8rem 8.3rem 5rem;
}
@media (max-width: 46.5625em) {
  .header {
    padding: 4.8rem 1.3rem 5rem;
  }
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 100%;
  max-width: 4.8rem;
  height: 3.2rem;
}
.header__burger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.8rem;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.header__burger-item {
  background-color: #356ead;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 0.3rem;
}
.header__burger-item::before, .header__burger-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-color: #356ead;
}
.header__burger-item::before {
  transform: translateY(-0.7rem);
}
.header__burger-item::after {
  transform: translateY(0.7rem);
}
.header__burger.open {
  z-index: 99;
}
.header__burger.open .header__burger-item {
  background: transparent;
}
.header__burger.open .header__burger-item::before {
  background-color: #fff;
  transform: rotate(45deg) translate(2px, -2px);
}
.header__burger.open .header__burger-item::after {
  background-color: #fff;
  transform: rotate(-45deg) translate(2px, 2px);
}

.mobile-navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 32rem;
  height: 100vh;
  overflow-y: scroll;
  display: block;
  z-index: 10;
  padding: 10rem 2.5rem 5rem;
  background-color: #5a98d0;
  transition: all 0.2s;
  transform: translateX(100%);
}
.mobile-navigation__link, .mobile-navigation:link, .mobile-navigation:visited {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 5.1rem;
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 4rem;
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
}
.mobile-navigation__link:last-child, .mobile-navigation:link:last-child, .mobile-navigation:visited:last-child {
  margin-bottom: 0;
}
.mobile-navigation__link:hover, .mobile-navigation:link:hover, .mobile-navigation:visited:hover {
  border-bottom: 2px solid white;
}
.mobile-navigation.tapped {
  border-bottom: 2px solid #fff;
}
.mobile-navigation.is-open {
  transform: translateX(0%);
}

.mob-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.8px);
  z-index: 9;
}

.hidden__overlay {
  display: none;
}

.no_scroll {
  position: relative;
  overflow-y: hidden;
}

.contact-heading {
  background-image: url(../../src/assets/images/contact-background.jpg);
  text-align: center;
  padding: 1.8rem 0 5.2rem;
  background-repeat: no-repeat;
}
@media (max-width: 34.375em) {
  .contact-heading {
    padding: 1.8rem 0 2.2rem;
  }
}
.contact-heading__text {
  font-family: "Gilroy";
  font-size: 4.4rem;
  line-height: 7.4rem;
  letter-spacing: 0.04em;
  color: #fff;
  margin-bottom: 1.6rem;
}
@media (max-width: 34.375em) {
  .contact-heading__text {
    font-size: 2.5rem;
  }
}
.contact-heading__subtitle {
  font-family: "Gilroy";
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: 0 32rem;
}
@media (max-width: 68.75em) {
  .contact-heading__subtitle {
    padding: 0 5.3rem;
  }
}
@media (max-width: 46.5625em) {
  .contact-heading__subtitle {
    padding: 0 1.3rem;
  }
}
@media (max-width: 34.375em) {
  .contact-heading__subtitle {
    font-size: 1.6rem;
  }
}

.contacts {
  padding: 6rem 21.2rem 9.6rem 21.3rem;
}
@media (max-width: 68.75em) {
  .contacts {
    padding: 6rem 5.3rem 9.6rem 5.3rem;
  }
}
@media (max-width: 46.5625em) {
  .contacts {
    padding: 6rem 1.3rem 9.6rem 1.3rem;
  }
}
@media (max-width: 34.375em) {
  .contacts {
    padding: 3rem 1.3rem 9.6rem 1.3rem;
  }
}
.contacts__wrapper {
  display: flex;
  gap: 8rem;
  margin-bottom: 9.6rem;
}
@media (max-width: 68.75em) {
  .contacts__wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.contacts-left {
  padding-top: 6rem;
}
.contacts-left__wrapper {
  display: flex;
  flex-direction: column;
}
.contacts-left__image {
  width: 100%;
  max-width: 30rem;
  margin-bottom: 7.1rem;
  align-self: center;
}
.contacts-left__address {
  margin-bottom: 4rem;
}
.contacts-left__address-heading {
  font-family: "Gilroy";
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
  color: #1f3f68;
  margin-bottom: 2.4rem;
}
.contacts-left__address-text {
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.6;
  display: block;
  padding-right: 1rem;
}
.contacts-left__phone {
  margin-bottom: 4rem;
}
.contacts-left__phone-heading {
  font-family: "Gilroy";
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
  color: #1f3f68;
  margin-bottom: 2.4rem;
}
.contacts-left__phone-number:not(:last-child) {
  margin-bottom: 1.6rem;
}
.contacts-left__phone-number--icon {
  max-width: 100%;
  width: 1.8rem;
}
.contacts-left__phone-number--call:link, .contacts-left__phone-number--call:visited {
  gap: 1.9rem;
  display: flex;
  align-items: center;
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.04em;
  color: #1f3f68;
  text-decoration: none;
}
.contacts-left__services-heading {
  font-family: "Gilroy";
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
  color: #1f3f68;
  margin-bottom: 2.4rem;
}
.contacts-left__services-website {
  margin-bottom: 1.6rem;
}
.contacts-left__services-website--icon {
  width: 100%;
  max-width: 2rem;
}
.contacts-left__services-website--link:link, .contacts-left__services-website--link:visited {
  gap: 1.9rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.05em;
  color: #1f3f68;
}
.contacts-left__services-email--icon {
  width: 100%;
  max-width: 2rem;
}
.contacts-left__services-email--link:link, .contacts-left__services-email--link:visited {
  gap: 1.9rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.05em;
  color: #1f3f68;
}
.contacts-right {
  width: 100%;
  max-width: 54rem;
}
.contacts-right__form {
  padding: 5.2rem 5.6rem;
  box-shadow: 0.5rem 1rem 5rem rgba(16, 112, 177, 0.2);
  border-radius: 1rem;
}
@media (max-width: 34.375em) {
  .contacts-right__form {
    padding: 2.2rem 1.3rem;
  }
}
.contacts-right__form-heading {
  font-family: "Gilroy";
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
  color: #1f3f68;
  margin-bottom: 4.8rem;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__name-heading {
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.8;
  margin-bottom: 0.8rem;
}
.form__name-input {
  padding: 2.1rem 4.2rem;
  border: 1px solid rgba(31, 63, 104, 0.4);
  border-radius: 1rem;
  margin-bottom: 3rem;
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
  color: #1f3f68;
}
@media (max-width: 34.375em) {
  .form__name-input {
    padding: 1.1rem 2.2rem;
  }
}
.form__name-input::placeholder {
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.2;
}
.form__name-input:focus:invalid {
  outline: 2px solid rgba(230, 47, 47, 0.76);
}
.form__name-input:valid {
  outline: 2px solid rgba(51, 209, 51, 0.76);
}
.form__email-heading {
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.8;
  margin-bottom: 0.8rem;
}
.form__email-input {
  padding: 2.1rem 4.2rem;
  border: 1px solid rgba(31, 63, 104, 0.4);
  border-radius: 1rem;
  margin-bottom: 3rem;
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
  color: #1f3f68;
}
@media (max-width: 34.375em) {
  .form__email-input {
    padding: 1.1rem 2.2rem;
  }
}
.form__email-input::placeholder {
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.2;
}
.form__email-input:focus:invalid {
  outline: 2px solid rgba(230, 47, 47, 0.76);
}
.form__email-input:valid {
  outline: 2px solid rgba(51, 209, 51, 0.76);
}
.form__message-heading {
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.8;
  margin-bottom: 0.8rem;
}
.form__message-textarea {
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 3rem;
  padding: 2.1rem 4.2rem;
  margin-bottom: 7.2rem;
  border: 1px solid rgba(31, 63, 104, 0.4);
  border-radius: 1rem;
  resize: none;
  width: 100%;
  height: 14.4rem;
}
.form__message-textarea::placeholder {
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.2;
}
.form__button {
  background-color: #5a98d0;
  box-shadow: 0.5rem 2rem 5rem rgba(16, 112, 177, 0.2);
  border-radius: 1rem;
  border: none;
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 2.3rem;
  transition: all 0.3s;
}
.form__button:hover {
  background-color: #1f3f68;
  cursor: pointer;
}
@media (max-width: 34.375em) {
  .form__button {
    padding: 1.3rem;
  }
}

.map iframe {
  width: 100%;
  max-width: 940px;
  height: 100%;
  height: 480px;
}

@font-face {
  font-family: "Galien";
  src: url("../../src/assets/fonts/Galien-Regular.woff2") format("woff2"), url("../../src/assets/fonts/Galien-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../src/assets/fonts/Gilroy-Regular.woff2") format("woff2"), url("../../src/assets/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.btn1:link, .btn1:visited {
  font-family: "Gilroy";
  font-weight: 400;
  letter-spacing: 0.06em;
  background-color: #5a98d0;
  color: #fff;
  font-size: 1.7rem;
  text-decoration: none;
  border: 2px solid #5a98d0;
  border-radius: 1rem;
  display: inline-block;
  padding: 1.6rem 4rem;
  line-height: 2.2rem;
  transition: all 0.3s;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
}
@media (max-width: 46.5625em) {
  .btn1:link, .btn1:visited {
    padding: 1.2rem 2rem;
  }
}
.btn1:hover {
  background-color: #316099;
  border: 2px solid #316099;
  transform: translateY(-3px);
  box-shadow: 10px 15px 27px rgba(27, 76, 133, 0.2);
}

.btn2:link, .btn2:visited {
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: #5a98d0;
  color: #fff;
  text-decoration: none;
  border: 2px solid #5a98d0;
  border-radius: 1rem;
  display: inline-block;
  padding: 1.3rem 7.2rem;
  transition: all 0.3s;
}
.btn2:hover {
  background-color: #1f3f68;
  border: 2px solid #1f3f68;
}

.link {
  transition: all 0.3s;
}
.link:link, .link:visited {
  text-decoration: none;
}
.link:hover {
  box-shadow: 5px 7px 15px rgba(27, 76, 133, 0.2);
  border-radius: 5px;
}

.to-top__button {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  z-index: 2;
  border: none;
  outline: none;
  background-color: #356ead;
  color: #fff;
  cursor: pointer;
  padding: 1.5rem 2rem;
  border-radius: 24px;
  font-size: 1.6rem;
  transition: all 0.2s;
}
.to-top__button:hover {
  background-color: #1f3f68;
}

.popup {
  position: fixed;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
  transition: all 0.2s;
  animation: showIn 0.3s;
  z-index: 11;
}
.popup__wrapper {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.popup__text-sending {
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
  color: #1f3f68;
}
.popup__text-success {
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
  color: #1f3f68;
}
.popup__ok {
  width: 50%;
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
  border-radius: 5px;
  border-style: none;
  color: #fff;
  background-color: #5a98d0;
  transition: all 0.2s;
}
.popup__ok:hover {
  background-color: #1f3f68;
  cursor: pointer;
}

.hidden {
  display: none;
}

@keyframes showIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
.submit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.8px);
  z-index: 9;
}

@font-face {
  font-family: "Galien";
  src: url("../../src/assets/fonts/Galien-Regular.woff2") format("woff2"), url("../../src/assets/fonts/Galien-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../src/assets/fonts/Gilroy-Regular.woff2") format("woff2"), url("../../src/assets/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.footer {
  background-color: #fff;
  padding-right: 9.6rem;
}
@media (max-width: 34.375em) {
  .footer {
    padding-right: 0;
  }
}
.footer__wrapper {
  border-top-right-radius: 20rem;
  background-color: #316099;
  padding: 9.1rem 19.7rem 6.4rem 0;
}
@media (max-width: 63em) {
  .footer__wrapper {
    padding: 9.1rem 8.7rem 6.4rem 0;
  }
}
.footer__top {
  padding-bottom: 9.6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.footer__top-wrapper {
  display: flex;
  padding-left: 21.3rem;
  align-items: center;
  justify-content: space-between;
  gap: 18rem;
}
@media (max-width: 75em) {
  .footer__top-wrapper {
    padding-left: 10.3rem;
  }
}
@media (max-width: 68.75em) {
  .footer__top-wrapper {
    padding-left: 5.3rem;
  }
}
@media (max-width: 63em) {
  .footer__top-wrapper {
    flex-direction: column;
    gap: 6rem;
  }
}
@media (max-width: 34.375em) {
  .footer__top-wrapper {
    padding-left: 1.3rem;
  }
}
.footer__top-button {
  flex: none;
}
@media (max-width: 34.375em) {
  .footer__top-button {
    align-self: flex-start;
  }
}
.footer__heading-text {
  font-family: "Gilroy";
  font-size: 3.6rem;
  line-height: 4.6rem;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 3.2rem;
  padding-right: 7rem;
}
@media (max-width: 63.4375em) {
  .footer__heading-text {
    padding-right: 0;
  }
}
.footer__heading-subtext {
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
}
.footer__bottom {
  padding: 9.7rem 0 6.4rem 21.4rem;
}
@media (max-width: 75em) {
  .footer__bottom {
    padding: 9.7rem 0 6.4rem 10.4rem;
  }
}
@media (max-width: 68.75em) {
  .footer__bottom {
    padding: 9.7rem 0 6.4rem 5.4rem;
  }
}
@media (max-width: 34.375em) {
  .footer__bottom {
    padding: 9.7rem 0 6.4rem 1.3rem;
  }
}
.footer__bottom-wrapper {
  display: flex;
  margin-bottom: 6.6rem;
  gap: 10rem;
}
@media (max-width: 63em) {
  .footer__bottom-wrapper {
    flex-direction: column;
  }
}
.footer__contact {
  width: 100%;
  max-width: 30rem;
}
.footer__contact-title {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 3.3rem;
}
.footer__contact-title--logo {
  width: 100%;
  max-width: 4.8rem;
}
.footer__contact-title--text {
  font-family: "Gilroy";
  font-size: 2.8rem;
  line-height: 4.6rem;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer__contact-list {
  list-style: none;
}
.footer__contact-list--address {
  display: flex;
  gap: 1.6rem;
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 2.1rem;
}
.footer__contact-list--phone, .footer__contact-list--email {
  display: flex;
  gap: 2rem;
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.footer__contact-list--phone-num, .footer__contact-list--phone-link, .footer__contact-list--email-num, .footer__contact-list--email-link {
  display: flex;
  gap: 1.6rem;
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.footer__contact-list--phone-num:link, .footer__contact-list--phone-num:visited, .footer__contact-list--phone-link:link, .footer__contact-list--phone-link:visited, .footer__contact-list--email-num:link, .footer__contact-list--email-num:visited, .footer__contact-list--email-link:link, .footer__contact-list--email-link:visited {
  display: flex;
  gap: 2rem;
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-decoration: none;
}
.footer__contact-list--phone:not(:last-child), .footer__contact-list--email:not(:last-child) {
  margin-bottom: 2.1rem;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  gap: 7.7rem;
}
@media (max-width: 63em) {
  .footer__info {
    justify-content: unset;
    gap: 3.7rem;
  }
}
.footer__about-heading {
  font-family: "Gilroy";
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 3.2rem;
}
.footer__about-list {
  list-style: none;
}
.footer__about-list--item {
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.footer__about-list--item:not(:last-child) {
  margin-bottom: 1.6rem;
}
.footer__social-heading {
  font-family: "Gilroy";
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 3.2rem;
}
.footer__social-list {
  list-style: none;
}
.footer__social-list--item {
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.footer__social-list--item:not(:last-child) {
  margin-bottom: 1.6rem;
}
.footer__copyright {
  font-family: "Gilroy";
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
}/*# sourceMappingURL=contact.css.map */