.contacts {
  padding: 6rem 21.2rem 9.6rem 21.3rem;
  @include respond(tablet-laptop) {
    padding: 6rem 5.3rem 9.6rem 5.3rem;
  }
  @include respond(tablet-xs) {
    padding: 6rem 1.3rem 9.6rem 1.3rem;
  }
  @include respond(tablet-xxs) {
    padding: 3rem 1.3rem 9.6rem 1.3rem;
  }
  &__wrapper {
    display: flex;
    gap: 8rem;
    margin-bottom: 9.6rem;
    @include respond(tablet-laptop) {
      flex-direction: column;
      align-items: center;
    }
  }
  &-left {
    padding-top: 6rem;
    &__wrapper {
      display: flex;
      flex-direction: column;
    }
    &__image {
      width: 100%;
      max-width: 30rem;
      margin-bottom: 7.1rem;
      align-self: center;
    }
    &__address {
      margin-bottom: 4rem;
      &-heading {
        font-family: 'Gilroy';
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 0.04em;
        color: $color-blue-1;
        margin-bottom: 2.4rem;
      }
      &-text {
        font-family: 'Gilroy';
        font-size: 1.6rem;
        line-height: 2.6rem;
        letter-spacing: 0.04em;
        color: $color-blue-1;
        opacity: 0.6;
        display: block;
        padding-right: 1rem;
      }
    }
    &__phone {
      margin-bottom: 4rem;
      &-heading {
        font-family: 'Gilroy';
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 0.04em;
        color: $color-blue-1;
        margin-bottom: 2.4rem;
      }
      &-number {
        &:not(:last-child) {
          margin-bottom: 1.6rem;
        }
        &--icon {
          max-width: 100%;
          width: 1.8rem;
        }
        &--call {
          &:link,
          &:visited {
            gap: 1.9rem;
            display: flex;
            align-items: center;
            font-family: 'Gilroy';
            font-size: 1.6rem;
            line-height: 2.6rem;
            letter-spacing: 0.04em;
            color: $color-blue-1;
            text-decoration: none;
          }
        }
      }
    }
    &__services {
      &-heading {
        font-family: 'Gilroy';
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 0.04em;
        color: $color-blue-1;
        margin-bottom: 2.4rem;
      }
      &-website {
        margin-bottom: 1.6rem;
        &--icon {
          width: 100%;
          max-width: 2rem;
        }
        &--link {
          &:link,
          &:visited {
            gap: 1.9rem;
            display: flex;
            align-items: center;
            text-decoration: none;
            font-family: 'Gilroy';
            font-size: 1.6rem;
            line-height: 2.6rem;
            letter-spacing: 0.05em;
            color: $color-blue-1;
          }
        }
      }
      &-email {
        &--icon {
          width: 100%;
          max-width: 2rem;
        }
        &--link {
          &:link,
          &:visited {
            gap: 1.9rem;
            display: flex;
            align-items: center;
            text-decoration: none;
            font-family: 'Gilroy';
            font-size: 1.6rem;
            line-height: 2.6rem;
            letter-spacing: 0.05em;
            color: $color-blue-1;
          }
        }
      }
    }
  }

  &-right {
    width: 100%;
    max-width: 54rem;
    &__form {
      padding: 5.2rem 5.6rem;
      box-shadow: 0.5rem 1rem 5rem rgba(16, 112, 177, 0.2);
      border-radius: 1rem;
      @include respond(tablet-xxs) {
        padding: 2.2rem 1.3rem;
      }
      &-heading {
        font-family: 'Gilroy';
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 0.04em;
        color: $color-blue-1;
        margin-bottom: 4.8rem;
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  &__name {
    &-heading {
      font-family: 'Gilroy';
      font-size: 1.6rem;
      line-height: 3rem;
      letter-spacing: 0.04em;
      color: $color-blue-1;
      opacity: 0.8;
      margin-bottom: 0.8rem;
    }
    &-input {
      padding: 2.1rem 4.2rem;
      border: 1px solid rgba(31, 63, 104, 0.4);
      border-radius: 1rem;
      margin-bottom: 3rem;
      font-family: 'Gilroy';
      font-size: 1.6rem;
      line-height: 3rem;
      letter-spacing: 0.04em;
      color: $color-blue-1;
      @include respond(tablet-xxs) {
        padding: 1.1rem 2.2rem;
      }
      &::placeholder {
        font-family: 'Gilroy';
        font-size: 1.6rem;
        line-height: 3rem;
        letter-spacing: 0.04em;
        color: $color-blue-1;
        opacity: 0.2;
      }
    }
  }
  &__email {
    &-heading {
      font-family: 'Gilroy';
      font-size: 1.6rem;
      line-height: 3rem;
      letter-spacing: 0.04em;
      color: $color-blue-1;
      opacity: 0.8;
      margin-bottom: 0.8rem;
    }
    &-input {
      padding: 2.1rem 4.2rem;
      border: 1px solid rgba(31, 63, 104, 0.4);
      border-radius: 1rem;
      margin-bottom: 3rem;
      font-family: 'Gilroy';
      font-size: 1.6rem;
      line-height: 3rem;
      letter-spacing: 0.04em;
      color: $color-blue-1;
      @include respond(tablet-xxs) {
        padding: 1.1rem 2.2rem;
      }
      &::placeholder {
        font-family: 'Gilroy';
        font-size: 1.6rem;
        line-height: 3rem;
        letter-spacing: 0.04em;
        color: $color-blue-1;
        opacity: 0.2;
      }
    }
  }
  &__message {
    &-heading {
      font-family: 'Gilroy';
      font-size: 1.6rem;
      line-height: 3rem;
      letter-spacing: 0.04em;
      color: $color-blue-1;
      opacity: 0.8;
      margin-bottom: 0.8rem;
    }
    &-textarea {
      font-family: 'Gilroy';
      font-size: 1.6rem;
      line-height: 3rem;
      padding: 2.1rem 4.2rem;
      margin-bottom: 7.2rem;
      border: 1px solid rgba(31, 63, 104, 0.4);
      border-radius: 1rem;
      resize: none;
      width: 100%;
      height: 14.4rem;
      &::placeholder {
        font-family: 'Gilroy';
        font-size: 1.6rem;
        line-height: 3rem;
        letter-spacing: 0.04em;
        color: $color-blue-1;
        opacity: 0.2;
      }
    }
  }
  &__button {
    background-color: $color-blue-4;
    box-shadow: 0.5rem 2rem 5rem rgba(16, 112, 177, 0.2);
    border-radius: 1rem;
    border: none;
    font-family: 'Gilroy';
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.04em;
    color: $color-white;
    padding: 2.3rem;
    transition: all 0.3s;
    &:hover {
      background-color: $color-blue-1;
      cursor: pointer;
    }
    @include respond(tablet-xxs) {
      padding: 1.3rem;
    }
  }
}

.map iframe {
  width: 100%;
  max-width: 940px;
  height: 100%;
  height: 480px;
}
